:root {
    /* Add more Variables for Colors here. */
    --second-text-color: rgb(24, 24, 24);
    --text-color: rgba(255, 255, 255, 0.93);
    --bg-color: rgb(187, 251, 228);
    --second-bg-color: rgb(39, 72, 64);
    --Third-bg-color: rgba(7, 46, 86, 0.975);
    --card-color: rgb(121, 169, 235);
    --card-bg-color:  rgb(30, 164, 167);
    --plain-color: rgb(244, 244, 244);
    --dark-color: rgb(13, 12, 12);
}